<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index_page' %}">🏥 Clinica Divino Niño</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Doctores-Especialidades
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/doctores">Gestionar Doctores</a></li>
            <li><a class="dropdown-item" href="/especialidades">Especialidades</a></li>
            <li><a class="dropdown-item" href="/especialidad_doctor">Agregar especialidad a doctor</a></li>
            
          </ul>
        </li>

        

        <li class="nav-item">
          <a class="nav-link" href="/consultorios">Consultorios</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/pacientes">Gestionar pacientes</a>
        </li>

      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reservas de consultas y Reconsultas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/reservas_de_consultas">Reserva de consulta</a></li>
            <li><a class="dropdown-item" href="/reconsultas">Reconsultas</a></li>
          </ul>
        </li>
        

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/reporte_dinero_dia_especifico">Reporte dinero recaudado en un dia especifico</a></li>
            <li><a class="dropdown-item" href="/reporte_consultas_doctor_especifico">Reporte de las consultas que tuvo un doctor especifico</a></li>
          </ul>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">({{ request.user.first_name }} - {{request.user.rol}})Logout</a>
        </li>
      </ul>
    </div>
  </nav>