{% extends 'layouts/base.html' %}

{% block content %}
<h1>Agregar equipos al consultorio</h1>
<div class="row">
  <div class="col-md-5">
    <form action="/consultorios/agregar/equipos/{{consultorio.id}}" method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="nombre">Nombre del equipo</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          placeholder="Ingrese el nombre del paciente"
        />
      </div>

      <div class="form-group">
        <label for="nombre">Descripcion</label>
        <input
          type="text"
          class="form-control"
          id="descripcion"
          name="descripcion"
          placeholder="Descripcion"
        />
      </div>

      


      <button type="submit">Registrar Equipo</button>
    </form>
  </div>
  <div class="col-md-7">
    {% if equipos|length > 0 %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre del equipo</th>
                <th scope="col">Descripcion</th>


              </tr>
            </thead>
            <tbody>
              {% for equipo in equipos %}
              <tr>
                  <th scope="row">{{equipo.id}}</th>
                  <td>{{equipo.nombre}}</td>
                  <td>{{equipo.descripcion}}</td>

                </tr>
              {% endfor %}
            </tbody>
          </table>
    {% else%}
        <h1>Este consultorio no tiene equipos</h1>
    {% endif %}
    
  </div>
</div>
{% endblock %}