{% extends 'layouts/base.html' %}

{% block content %}
<h1>Especialidades y Doctores</h1>
<div class="row">
  <div class="col-md-5">
    <form action="/especialidad_doctor" method="post">
      {% csrf_token %}


      <div class="form-group">
        <label for="sueldo">Seleccione el doctor</label>
        <select name="doctor_id" class="form-select"  aria-label="Default select example">
          {% for doctor in doctores %}
            <option value="{{doctor.id}}">{{doctor.nombre}} {{ doctor.apellido}}</option>
          
          {% endfor %}
        </select>
      </div>



      <div class="form-group">
        <label for="sueldo">Seleccione la especialidad</label>
        <select name="especialidad_id" class="form-select"  aria-label="Default select example">
          {% for especialidad in especialidades %}
            <option value="{{especialidad.id}}">{{especialidad.nombre}}</option>
          
          {% endfor %}
        </select>
      </div>

      

      


      <button type="submit">Registrar Especialidad - Doctor</button>
    </form>
  </div>
  <div class="col-md-7">
    {% if especialidades_doctores|length > 0 %}
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Doctor</th>
                <th scope="col">Especialidad</th>

              </tr>
            </thead>
            <tbody>
              {% for especialidad_doctor in especialidades_doctores %}
              <tr>
                  <th scope="row">{{especialidad_doctor.id}}</th>
                  <td>{{especialidad_doctor.doctor.nombre}} {{especialidad_doctor.doctor.apellido}}</td>
                  <td>{{especialidad_doctor.especialidad.nombre}}</td>
                
                </tr>
              {% endfor %}
            </tbody>
          </table>
    {% else%}
        <h1>No hay doctores con especialidades</h1>
    {% endif %}
    
  </div>
</div>
{% endblock %}